<%# this is the page that new users go through to show them how to enter recipe data %>

<div id="home_main">
			
			<div id="ten_seconds">
			
	<div class="find_title">Welcome to Gobbledybook, and thanks for helping out!</div> 
	
	Before you get started entering recipes for <%="cookbooktitle"%>, let's walk through the easiest and best way to enter recipes. <p>
	
	I find it best to start at the first recipe in the book, and then just flip through recipes page by page. <p>
	
	At the top of the recipe list, you'll see a link to Add a Recipe. Click this link to get started, or, you can also press Control-r.<p>
		
		<img src="<%=image_path("site/enter_new.png") %>" class="enter_pic">
		<p>
	
	Enter the page number for the recipe and the recipe title. If the recipe has a title translation, go ahead and include that too. <p>
	
	For example:<p>
	<img src="<%=image_path("site/enter_title.png") %>" class="enter_pic">
	<p>
	Next, you'll enter some tags about the recipe. These are tags that will make it easier to find the recipe later. Things like what ingredients are in the recipes, what cuisine type it is, how it's cooked, or what course it is. 
	
	<img src="<%=image_path("site/enter_tags.png") %>" class="enter_pic">
	
	
	Move on down to the <em>Ingredients</em> box and enter each ingredient, one at a time. Add the quantities, but there's no need to add words like "chopped" or "freshly ground." The key is to make it easy to find a recipe by what is in it (and give you some idea of how much of an ingredient you'll need for our future mobile app). As you start typing the ingredients, a drop down will appear with ingredient suggestions. Pick one of those if it's appropriate, but also feel free to enter ingredients that aren't listed there. We have over 1200 ingredients in our database, but I'm sure we're missing a couple. <p>
	
		<img src="<%=image_path("site/enter_ing.png") %>" class="enter_pic">
	 	<p>
	
	Next comes just a few more fields to help identify the recipe. <p>
		
	<em>Makes</em> is where you enter the number of servings the recipe makes. You can enter any text here... 6 to 8 servings, 2 slices, 250 cookies. You get the idea.
		
		Next, let us know if the recipe fits into any of our <em> Special Diets</em>. If you aren't sure if it does, feel free to leave it blank. <p>

			<img src="<%=image_path("site/vegan.png") %>"> &nbsp;<em>Vegan</em> are dishes that contain no animal products like eggs or milk or squid ink. <br>
			<img src="<%=image_path("site/ovo.png") %>"> &nbsp;<em>Ovo-Lacto Vegetarian</em> dishes can contain eggs or milk, but no meat (or squid ink!) <br>
			<img src="<%=image_path("site/gf.png") %>"> &nbsp;<em>Gluten Free</em> dishes can't contain any wheat. Keep in mind that things like soy sauce or pasta usually contain wheat, so aren't gluten free unless specified.<br>
		
	<em>	Cuisine type</em> is where you enter the cultural origin of the dish (Japanese? French?). It's fine if it comes from more than one, or if you aren't sure you can just leave it blank. <p>
		
		Next, enter the total time it takes to make the recipe. Include all the time, not just the active cooking time.
		
		In <em>Other Tags</em> you can put just about anything else. We recommend things like how it's cooked (steamed? baked? fried?), what meal you'd serve it for (a party? breakfast? dessert?), or even just the type of recipe (cookies, tarts, soup). If the recipe is of a particularly well known thing, like chocolate chip cookies, feel free to enter that as well. It will help you find it later. <p>

		Don't feel like you have to add synonyms though. There's no need to tag something both appetizer <em>and</em> starter. We'll hook those up behind the scenes so you can get on to the next recipe. <p>

		<p>
		While you are here, if the recipe sounds really good, don't forget to tag it with a sticky note so you can remember to make it later.  Or, you can add your own rating if you've made the dish before. You'll find your sticky list on the <a href="myStuff">My Stuff</a> page. <p>
	
			<img src="<%=image_path("site/enter_sticky.png") %>" class="enter_pic">
		 	<p>
	
	
	Feel free to contact us by <a href="mailto: admin@gobbledybook.com">email</a> with questions, bugs or feature ideas! 
	
	
	Now, on to that cookbook...
	
</div>
</div>

