<%- if controller_name != 'sessions' %>
  Already have an account? <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  New to Gobbledybook? <%= link_to "Sign up!", new_registration_path(resource_name) %> It's Free!<br />
<p>
	<em>Note: We've removed Facebook Connect from our site, so if you've logged in before with your Facebook account, you'll need to create a new one. Sorry for the inconvenience! If you had data associated with your Facebook account, <a href="mailto: lara@laraferroni.com">let me know</a>, and I'll try to retrieve it for you.</em> 

<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
