<% tagid = "tagInfo"+@tg.id.to_s() %>

<div class="del_button" onClick="<%= remote_function(:update => 'divtagInfo'+tagid, :url => 'deleteTag?id=' + tagid) %>"> 
<%= image_tag "/images/site/delete_grey.png", :mouseover => "/images/site/delete_red.png" %> </div>

<form name = "<%=tagid%>" id="<%=tagid%>" action = "saveTags">
<input type="text" name="tagname" value="<%=@tg.name %>" onchange="sendForm('<%=tagid%>')"> 
<input type ="hidden" name = "id" value = "<%=@tg.id%>">

<input type="checkbox" name="ingredient" value="@tg.ingredient" 
	<% if @tg.ingredient %> checked <% end %>
onclick= "sendForm('<%=tagid%>')"> Ingredient

<input type="checkbox" name="course" value="@tg.course" 
	<% if @tg.course %> checked <% end %>
onclick= "sendForm('<%=tagid%>')"> Course or Dish

<input type="checkbox" name="origin" value="@tg.origin" 
	<% if @tg.origin %> checked <% end %>
onclick= "sendForm('<%=tagid%>')"> Cuisine Type



	<div id="sameas_taglist" name="sameastaglist">	
		<div id="sitetools_tag_auto_complete">
			<div id="sameas_autotag">Include in searches for <%=@tg.name%>: <input type="text" id="gbtag<%=@tg.id%>" name="gbtag<%=@tg.id%>" value="" onFocus="this.select();"></div>
			<div id="tag_drop_down<%=@tg.id%>" class="tag_drop_down"></div>
		</div>
		

	</div>
	
		<div id="parent_taglist" name="parenttaglist">	
			<div id="sitetools_tag_auto_complete">
				<div id="parent_autotag">Include <%=@tg.name %> in searches for these tags: <input type="text" id="parenttag<%=@tg.id%>" name="parenttag<%=@tg.id%>" value="" onFocus="this.select();"></div>
				<div id="parent_drop_down<%=@tg.id%>" class="parent_drop_down"></div>
			</div>

	
		</div>
		
		
		<div id="sameas_syn_tags">
			<%   @tagSynonyms[@tg.id].each do |tname| %>
			<span id="syntag" class="hot_button" onClick="<%= remote_function(:update => 'divtagInfo'+@tg.id.to_s(), :url => 'deleteSynTag?tag_id=' + @tg.id.to_s()+'&syntag_name='+tname) %>">
					&nbsp;[x]&nbsp;<span class="tag_name"><%=tname %></span>&nbsp;
			</span>
			<%  end %>
		</div>
		
		<div id="parent_syn_tags">
			<%   @tagParents[@tg.id].each do |tname| %>
				<span id="parenttag" class="hot_button" onClick="<%= remote_function(:update => 'divtagInfo'+@tg.id.to_s(), :url => 'deleteParentTag?tag_id=' + @tg.id.to_s()+'&parenttag_name='+tname) %>">
						&nbsp;[x]&nbsp;<span class="tag_name"><%=tname %></span>&nbsp;
				</span>
			<%  end %>
		</div>
</form>


<script>	
		var autooAC = setTagAutoComplete("gbtag<%=@tg.id%>", "tag_drop_down<%=@tg.id%>", "listTags");
		var parentoAC = setTagAutoComplete("parenttag<%=@tg.id%>", "parent_drop_down<%=@tg.id%>", "listTags");
	
		function setTagAutoComplete(tf, ddf, ds){
			// Use a LocalDataSource 
			 var gbtags = document.getElementById(tf);
			  	var thisDS = new YAHOO.util.XHRDataSource(ds);
				thisDS.responseType = YAHOO.util.XHRDataSource.TYPE_TEXT;
			    // Define the schema of the delimited results
			    thisDS.responseSchema = {
			        recordDelim: "\n",
			        fieldDelim: "\t"
			    };
		
		   // Instantiate the AutoComplete 
		   	var oAC = new YAHOO.widget.AutoComplete(tf, ddf, thisDS); 
		   	oAC.useShadow = true;
			oAC.animVert = true;  
			oAC.maxResultsDisplayed = 20;
			oAC.minQueryLength = 2;
		 	oAC.queryMatchContains = true; 
			oAC.forceSelection = true; 
			oAC.useIFrame = true;


			function fnCallback(e, args) {

				document.findrecipes.submit();	

			 }
			oAC.itemSelectEvent.subscribe(fnCallback);

			return oAC;
			}

</script>
	
	
		</form>
	
	

					
	</div>	<!== tagform div ==>	


	<%= observe_form tagid, 
				:url => 'saveTags',
				:update => 'div'+tagid
				%>
</div> <!== edit tags div ==>
<p>
